body {
  background: #ade6f9;
  position: relative;
  width: 100%;
  height: 100%;
  font-family: "Montserrat", sans-serif;
}

ul {
  list-style-type: none;
  margin: o;
  padding: o;
}

li {
  display: inline-block;
  padding: 15px;
}

#sand-container {
  background: #f8e4c2;
  position: relative;
  width: 100%;
  height: 50px;
  margin: auto;
  padding: 36px;
  display: flex;
  flex-direction: row;
}

.navbar-item {
  position: absolute;
  display: flex;
  flex-direction: row;
}

#top-container {
  position: relative;
  top: 20px;
}

#head {
  margin-bottom: 5px;
  font-family: "Noto Sans JP", sans-serif;
  font-size: 20px;
}

#item-img-container {
  position: absolute;
  left: 50%;
  top: 250px;
  width: 250px;
  height: 250px;
  border: 2px solid #c8f2df;
  border-radius: 200px;
  background: #c8f2df;
}

#i1-img {
  position: absolute;
  right: -20px;
  top: -20px;
}

#i2-img {
  position: absolute;
  right: -20px;
  top: -20px;
}

#i3-img {
  position: absolute;
  right: -20px;
  top: -20px;
}

#i4-img {
  position: absolute;
  right: -20px;
  top: -20px;
}

#i5-img {
  position: absolute;
  right: -20px;
  top: -20px;
}

#items {
  position: absolute;
  left: 30%;
  margin-top: 150px;
}

#head {
  position: absolute;
  top: 25px;
  left: 45%;
}
